<div class="row">
  <div class="container">
<%= form_with model: @todo, local: true do |t| %>
<%= t.label "Tarea a realizar" %>
<%= t.text_field :description %>
<%= t.check_box :completed %>
<%= t.submit "Guardar" %>
<% end %>
</div>
</div>
